.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(191,145,255);
background: linear-gradient(3deg, rgba(191,145,255,1) 0%, rgba(67,68,231,1) 61%, rgba(28,62,217,1) 85%);
margin: 0;
background-size: contain;
}

.calculator {
    background-color: rgba(20, 19, 26, 0.50);  
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 20px;
    color: white;   
    margin: 5px;
    background-color: rgba(59, 53, 82, 0.70);

}
.calculator form input:active {
    background-color: gray;
}
form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;

}

form input.equal {
    width: 130px;
}

form input.operator {
    background-color: rgba(236, 112, 30, 0.70);
    color: white;
    
}

